<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Suppress verbose Netty and Vert.x logs -->
    <logger name="io.netty" level="INFO" />
    <logger name="io.vertx" level="INFO" />

    <!-- Application logging set to INFO by default -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>